.Container {
    width: 100%;
    min-height: calc(100vh - 447px);
    background-color: #191919;
    color: white;
    padding-block: 20px;
    padding-inline: 20px;
    text-align: center;
    overflow: hidden;    
}

